# IDEs
.vscode

# Build Data
*.o
/build
Makefile

# Executable
/r-type_server
/r-type_client
src/client/client
src/server/server
/r-type

# Shame on you!
vgcore.*

# CMake
CMakeCache.txt
CMakeFiles/

# Libs
asio/
