# IDEs
.vscode

# Build Data
*.o
/build
/Debug
Makefile

# Doc
/doc

# Executable
/r-type_server
/r-type_client
src/client/client
src/server/server
/r-type
/r-type_server.exe
/r-type_client.exe

# Shame on you!
vgcore.*

# CMake
CMakeCache.txt
CMakeFiles/

# Libs
asio/
